@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
body {
	font-family: 'Montserrat', sans-serif;
	font-size: 13pt;
	letter-spacing: 0.05em;
}
h1, h2, h3, h4, h5, h6, a {
	text-transform: uppercase;
	letter-spacing: 0.05em;
}
a {
	display: block;
	text-decoration: none;
	letter-spacing: 0.05em;
}
p {
	font-family: "Source Sans Pro", Helvetica, sans-serif;
}
/*BEGIN HEADER*/
.ba-container {
	overflow: hidden;
}
.ba-wrapper {
	width: 960px;
	margin: 0 auto;
}
.ba-header {
	padding: 20px 0;
	position: fixed;
	width: 100%;
	background: #7F7E93;
	color: #FFF;
	z-index: 10;
}
.ba-header__logo {
	float: left;
	color: #FFF;
	font-size: 1.25em;
	margin: 0;
	padding: 0;
}
.fa-cube {
	color: #F06862;
}
.ba-header__nav {
	float: right;
	margin: 0;
	padding: 0;
}
.ba-header__nav ul ul {
	opacity: 0;
	visibility: hidden;
	transition: all .3s ease .15s;
}
.ba-header__nav ul li:hover>ul {
	opacity: 1;
	visibility: visible;
}
.ba-header a {
	color: #FFF;
	padding: 10px;
}
.ba-header ul {
	background: #7F7E93;
	list-style: none;
	margin: 0;
	padding: 0;
}
.ba-header__menu>li {
	display: inline-block;
	position: relative;
	margin: 0 5px;
	font-weight: 700;
	white-space: nowrap;
}
.ba-header__first-submenu {
	position: absolute;
	font-weight: 400;
	font-size: 12px;
	width: 120%;
    left: -10%;
    top: 230%;
}
.ba-header__first-submenu:before {
	content: "";
	display: block;
	position: absolute;
	border: 20px solid transparent;
	border-bottom: 15px solid #7F7E93;
	bottom: 100%;
	left: 50%;
	margin-left: -20px;
}
.active {
	background: rgba(0, 0, 0, 0.25);
}
.ba-header__menu>li:hover {
	background: #767588;
}
.ba-header__first-submenu li {
	position: relative;
}
.ba-header__second-submenu {
	position: absolute;
	top: 0;
	left: 100%;
}
.ba-header__submenu li:hover {
	background: #F06862;
}
/*END HEADER*/

/*BEGIN BANNER*/
.ba-banner {
	background-image: url(../img/banner.jpg);
	background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 250px 0;
	color: #FFF;
}
.ba-banner h2 {
	font-size: 2.25em;
}
.ba-banner p {
	font-size: 1.25em;
	line-height: 1.5;
	font-weight: 400;
	text-transform: uppercase;
}
.link {
	color: #fff;
	border: 2px solid #fff;
	display: inline-block;
	padding: 15px 20px;
	font-weight: 700;
}
.link:hover {
	background: rgba(255, 255, 255, 0.075);
}
/*END BANNER*/

/*BEGIN SECTION ONE*/
.ba-section h2 {
	font-size: 1.75em;
	margin-bottom: 1em;
}
.ba-section p {
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	margin-bottom: 2em;
}
.ba-section__one {
	background: #F06862;
	color: #fff;
}
.primary {
	padding: 6em 4em 4em 0;
}
.secondary__top,
.secondary__bottom {
	position: relative;
	padding: 4em 0 2em 4em;
	z-index: 1;
}
.secondary__top:before,
.secondary__bottom:before {
	content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 1000%;
	background: #f5f5f5;
	z-index: -1;
}
.secondary__bottom:before {
	background: #FFF;
}
.secondary h3 {
	color: #f06862;
}
.secondary p {
	color: #868686;
}
/*END SECTION ONE*/

/*BEGIN SECTION TWO*/
.ba-section-two {
	padding: 6em 0 4em 0;
	background: #F5F5F5;
	color: #A5A5A5;
}
.ba-section-two img {
	position: relative;
	border: 2em solid #fff;
	-webkit-border-radius: 0.5em;
	        border-radius: 0.5em;
}
.ba-section-two h2 {
	margin-top: 0;
}
.ba-section .ba-section-two__descriprion {
	padding-left: 4em;
}
.ba-section-two__descriprion h2 {
	color: #7f7f7f;
}
.ba-section-two__descriprion p {
	color: #868686;
}
.ba-section-two__descriprion h2+p {
	text-transform: uppercase;
	color: #A5A5A5;
	font-size: 1.25em;
}
.link--grey {
	color: #7F7F7F;
	border: 2px solid #7f7f7f;
}
.link--grey:hover {
	background: rgba(144, 144, 144, 0.075);
}
/*END SECTION TWO*/
/*BEGIN SECTION THREE*/
.ba-section-three {
	padding: 6em 0 4em 0;
	text-align: center;
}
.ba-section-three h2 {
	color: #7f7f7f;
	font-size: 1.75em;
    line-height: 1.5em;
}
.ba-section-three p {
	color: #868686;
}
.ba-section-three h2+p {
	color: #A5A5a5;
	font-size: 1.25em;
    line-height: 1.5em;
    text-transform: uppercase;
}
.ba-section-three h3 {
	font-size: 1.25em;
    line-height: 1.5em;
    color: #7f7f7f;
}
.diamond {
	position: relative;
	display: block;
	height: 4.5em;
	width: 4.5em;
	text-align: center;
	margin: 1em auto 3em auto;
	line-height: 4.5em;
}
.diamond:before,
.diamond--small:before {
	color: #fff;
	font-size: 2em;
	content: "";
	font-family: FontAwesome;
	z-index: 1;
	position: relative;
}
.diamond:after,
.diamond--small:after {
	content: "";
	background: #f06862;
	height: inherit;
	width: inherit;
	position: absolute;
	left: 0;
	top: 0;
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	     -o-transform: rotate(45deg);
	        transform: rotate(45deg);
}
.fa-camera-retro {
	content: "\f083";
}
.fa-coffee {
	content: "\f0f4";
}
/*END SECTION THREE*/
/*BEGIN SECTION FOUR*/
.ba-section-four {
	background-color: #747389;
    color: #dfdee4;
    padding: 6em 0 4em 0;
    text-align: center;
}
.ba-section-four h2 {
	color: #FFF;
	font-size: 1.75em;
	line-height: 1.5;
	margin-bottom: 1em;
}
blockquote p {
	font-style: italic;
	background: rgba(0, 0, 0, 0.25);
	padding: 1em 2em;
	position: relative;
}
blockquote p:after {
	content: '';
    position: absolute;
    border: 20px solid transparent;
    border-top: 20px solid rgba(0, 0, 0, 0.25);
    top: 100%;
    left: 50%;
    margin-left: -20px;
}
.avatar {
	background: rgba(144, 144, 144, 0.2);
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	display: block;
	margin: 40px auto;
}
.name, .title {
	display: block;
}
.name {
	color: #fff;
}
.title {
	color: #CBCBD3;
	text-transform: uppercase;
}
/*END SECTION FOUR*/
/*BEGIN SECTION FIVE*/
.diamond--small {
	height: 3em;
	width: 3em;
	line-height: 3em;
}
.diamond--small:before {
	font-size: 1.2em;
}
.ba-section-five {
	padding: 6em 0 4em 0;
}
.ba-section-five .diamond {
	float: left;
}
.ba-section-five h3 {
	color: #7F7F7F;
	font-size: 1.25em;
    line-height: 1.5em;
    margin: 0;
}
.ba-section-five p {
	color: #868686;
}
.ba-description {
	border-left: 1px solid rgba(144, 144, 144, 0.25);
	padding-left: 10px;
}
.ba-section-five .ba-description {
	margin-left: 5em;
}
/*END SECTION FIVE*/
/*BEGIN FOOTER*/
.ba-footer {
	text-align: center;
	padding: 6em 0 4em 0;
	background: #F5F5F5;
}
.ba-copyright {
	color: #868686;
}
.ba-social .diamond {
	display: inline-block;
	margin: 20px;
}
.ba-social .diamond--small:after {
	background: rgba(144, 144, 144, 0.2);
}
.ba-social .diamond--small:before {
	color: #A5A5A5;
}
.ba-social .diamond--small:hover:after {
	background: #f06862;
}
.ba-social .diamond--small:hover:before {
	color: #FFF;
}
/*END FOOTER*/
